* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

/* Estructura del contenedor principal */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4a90e2;
  padding: 20px;
  text-align: center;
  color: white;
}

nav {
  background-color: #333;
  text-align: center;
  padding: 15px 0;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: #4a90e2;
}

section {
  flex: 1;
  margin: 20px auto;
  padding: 30px;
  max-width: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
  color: #666;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Pagina modificar contenido HTML */

button.contenido_html {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}
button.contenido_html:last-child {
  background-color: burlywood;
  color: white;

  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ab8;
}
button:hover:last-child {
  background-color: rgb(202, 168, 124);
}

/* Atributos html */
.nuevo-estilo {
  text-decoration: underline;
  border: 1px solid black;
}
